@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;700&display=swap');

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #56C8A6;
    color: #F0F0FA;
    font-family: 'Libre Franklin', sans-serif;
    position: relative;
    flex-wrap: wrap;
}

.footer-logo img {
    height: 50px;
}

.footer-links {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: auto;
}

.footer-links a {
    color: #F0F0FA;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
    cursor: pointer;
}

.footer-links a:hover {
    color: #ccc;
}

.footer-bottom {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    margin-top: 10px;
    flex-basis: 100%;
    
    
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }
    
    .footer-logo {
        margin-bottom: 10px;
    }

    .footer-links {
        margin-bottom: 10px;
    }

    .footer-bottom {
        margin-left: 0;
    }
}